<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<ul th:if="${current.age>18}">
<li th:text="${current.nom}"> </li>
<li th:text="${current.prenom}"> </li>
<li th:text="${current.sexe}"> </li>
<li th:text="${current.age}"> </li>
</ul>


<table class="table table-bordered">
<thead><tr><th>Nom</th><th>Prenom</th><th>age</th></tr></thead>
<tbody><tr th:each="users: ${liste}">
<td><th:block th:if="${users.age>18}" th:text="${users.nom}">nom</th:block></td>
<td><th:block th:if="${users.age>18}" th:text="${users.prenom}">prenom</th:block></td>
<td><th:block th:text="${users.age}">age</th:block></td>
</tr></tbody>
</table>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>