<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/save}" th:object="${user}"
method="post">
<table border="0" cellpadding="10">
<tr>
<td>Nom:</td>
<td><input type="text" th:field="*{nom}" /></td>
</tr>
<tr>
<td>Prenom:</td>
<td><input type="text" th:field="*{prenom}" /></td>
</tr>
<tr>
<td>Sexe:</td>
<td><input type="radio" th:field="*{sexe}" value="homme" />homme<br><input type="radio" th:field="*{sexe}" value="femme"
/>femme</td>
</tr>
<tr>
<td>age:</td>
<td><input type="number" min="1" th:field="*{age}" /></td>
</tr>
<tr>
<td colspan="2"><button type="submit">sauvegarder</button> </td>
</tr>
</table>
</form>
</body>
</html>